---
import Programing from "@/icons/Programing.astro";
import Header from "@/components/Header.astro";
import Wave from "@/icons/Wave.astro";
import { basics } from "@cv";

const { name, label } = basics
---

<section 
    id="hero"
    class="flex flex-col justify-between items-center min-h-screen w-full">
    <header class="flex-grow basis-1 w-full ">
        <Header />
    </header>
    <main class="flex justify-center items-center">
        <Programing class="size-80" />
        <div>
            <p class="text-gray-800">Hola, soy</p>
            <h1 class="text-4xl font-bold text-sky-500">{name}</h1>
            <p class="text-lg font-medium text-gray-800">{label}</p>
        </div>
    </main>
    <footer class="flex-grow basis-2 w-full relative">
        <div class="absolute bottom-0 left-0 w-full h-24 overflow-hidden">
            <Wave svgClass="w-full h-full" color="fill-sky-600" />
        </div>
    </footer>
</section>
