---
import About from "@/components/sections/About.astro";
import Contact from "@/components/sections/Contact.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Footer from "@/components/sections/Footer.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/sections/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/sections/Projects.astro";
import Technologies from "@/components/sections/Technologies.astro";
---

<Layout>
  <header id="inicio" class="fixed top-0 w-full z-50 min-h-[5vh]">
    <Header/>
  </header>
  <body>
    <Hero />
    <Technologies />
    <Experience />
    <Projects />
    <About />
    <Education />
    <Contact />
  </body>
  <footer>
    <Footer />
  </footer>

</Layout>
